:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  height: 5rem;
  margin: 1rem 0;
}

.post-image img {
  height: 100%;
  border-radius: 5px;
}

.content {
  margin: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 2px;
}

.contentPaginator {
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 2px;
}
