/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  height: 100%;
  background-image: url("./assets/gradient-background-26046-26731-hd-wallpapers.jpg.png");
}
